* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
html {
  font-size: 62.5%;
  overflow-y: hidden;
}
header {
  background-color: rgba(48, 165, 201, 0.5);
  width: 100vw;
  height: 4rem;
  font-size: 2rem;
}
body {
  width: 100vw;
  height: 100vh;
}
.sobre {
  display: flex;
  position: absolute;
  left: 30rem;
  top: 1rem;
}
#carrinho-count {
  font-size: 2rem;
  position: absolute;
  right: 7rem;
  top: 2.5rem;
  background-color: rgba(147, 25, 172, 0.5);
  border-radius: 0.7rem;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal th {
  padding: 2rem;
}

.modal-content {
  background-color: rgba(38, 185, 50, 0.9);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #000000;
  width: 40%;
  text-align: center;
  font-size: 20px;
  border-radius: 1rem;
  animation-duration: 1s;
  animation-name: modalCarrinho;
}

.fechar {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
@keyframes modalCarrinho {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.removerCarrinho {
  background-color: rgb(255, 0, 0);
  border-radius: 1rem;
  width: 10rem;
  border: 1px solid black;
}
.removerCarrinho:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.produtosExibidos {
  padding: 10rem;
}
.precoTotal {
  display: flex;
  margin-top: 2rem;
}
.finalizarCompra {
  position: relative;
  left: 35rem;
  top: 1rem;
  font-size: 1.9rem;
  width: 13rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: #5f18d1;
  color: black;
  cursor: pointer;
  padding-top: 0.1rem;
}
.finalizarCompra:hover {
  background-color: #270066;
  color: rgb(223, 215, 215);
}
.logo {
  margin: 0.5rem;
  position: absolute;
  width: 6rem;
  transition: 1s;
}
.logo:hover {
  transition-duration: 1s;
  scale: 1.3;
}
.titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "VT323", monospace;
  color: rgb(18, 187, 117);
  text-shadow: -0.5rem 0rem 0.5rem rgb(0, 0, 0);
}
.titulo:hover {
  animation: tituloCor 10s infinite;
  cursor: pointer;
}
@keyframes tituloCor {
  10% {
    color: rgb(119, 96, 96);
  }
  20% {
    color: rgb(163, 139, 139);
  }
  30% {
    color: #3836c5;
  }
  40% {
    color: #3086c0;
  }
  50% {
    color: rgb(55, 189, 122);
  }
  60% {
    color: blueviolet;
  }
  70% {
    color: crimson;
  }
  80% {
    color: rgb(168, 157, 6);
  }
  90% {
    color: rgb(190, 31, 177);
  }
  100% {
    color: #b60e62;
  }
}
.carrinho {
  position: absolute;
  right: 9rem;
  top: 2rem;
  width: 2.5rem;
  align-items: center;
  display: flex;
  transition: 1s;
}
.carrinho:hover {
  transition-duration: 1s;
  cursor: pointer;
  scale: 1.2;
}
.entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15rem;
  top: 2.5rem;
  background-color: violet;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.8rem;
  color: rgb(219, 218, 218);
}
.entrar:hover {
  background-color: white;
  color: black;
}
main {
  width: 100vw;
  height: 85vh;
  background-color: rgba(48, 165, 201, 0.5);
}

#mensagemEsgotado {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#mensagemEsgotado .modal-content {
  background-color: #cc4e4e;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  border: 1px solid black;
  animation-duration: 1s;
  animation-name: modalCarrinho;
  opacity: 92%;
}

#mensagemEsgotado .fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#mensagemEsgotado .fechar:hover,
#mensagemEsgotado .fechar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* ------ */

#fazerLogin {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#fazerLogin .modal-content-login {
  background-color: #3836c5;
  margin: 8% auto;
  border: 1px solid #000000;
  border-radius: 1rem;
  width: 37rem;
  height: 45rem;
  max-width: 600px;
  text-align: center;
  border: 1px solid black;
  font-size: 1.5rem;
  opacity: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 1s;
  animation-name: modalCarrinho;
}
.modal-content-login span:hover {
  color: white;
}
#fazerLogin .fechar {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 35rem;
}

#fazerLogin .fechar:hover,
#fazerLogin .fechar:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.telaLogin {
  font-size: 1.9rem;
  display: flex;
  text-align: center;
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: #5f18d1;
  color: black;
}
.telaLogin::placeholder {
  color: black;
}
.botaoEntrar {
  font-size: 1.9rem;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: #5f18d1;
  color: black;
  cursor: pointer;
  padding-top: 0.1rem;
}
.botaoEntrar:hover {
  background-color: #270066;
  color: white;
}
.cadastro {
  font-size: 1.9rem;
  width: 12rem;
  height: 2rem;
  background-color: #5f18d1;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}
.senhaEsquecida {
  margin-top: 1rem;
  font-size: 1.9rem;
  text-decoration: none;
  color: black;
}
.imgLogin {
  width: 11rem;
  transition: 1s;
}
.imgLogin:hover {
  scale: 1.1;
  transform: rotateY(360deg);
}
.caixasGeral {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.caixasGeral P {
  display: flex;
  justify-content: center;
}
.imgpocao {
  width: 12.8rem;
  justify-content: center;
  padding-left: 2rem;
}
.imgSus {
  width: 13.4rem;
  justify-content: center;
  padding-left: 2rem;
}
.imgEstrela {
  width: 13rem;
  justify-content: center;
  padding-left: 1rem;
}
.imgCerejinha {
  width: 13.4rem;
  justify-content: center;
  padding-left: 2rem;
}
.imgFlaeron {
  width: 15.2rem;
  justify-content: center;
  padding-left: 2rem;
}
.esgotado {
  background-color: red !important ;
}
.caixa1 p {
  font-size: 1.8rem;
}
.caixa1 button {
  width: 13rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  background-color: blueviolet;
  transition: 1s;
  cursor: pointer;
}
.caixa1 button:hover {
  scale: 1.1;
}
.caixa1 {
  background-color: rgba(38, 185, 50, 0.4);
  height: 17rem;
  width: 15rem;
  border-radius: 1rem;
  border: 1px solid black;
  transition: 1.5s;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  box-shadow: -0.5rem 0rem 1rem 0rem;
}
.caixa1:hover {
  transition-duration: 1s;
  scale: 1.1;
}

.caixasGeral2 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.caixasGeral2 P {
  display: flex;
  justify-content: center;
}
.caixasGeral2 P {
  display: flex;
  justify-content: center;
}
.imgNsei {
  width: 13.4rem;
  justify-content: center;
}
.imgColumelo {
  width: 11.5rem;
  justify-content: center;
  margin-left: 2rem;
}
.imgArvore {
  width: 11.2rem;
  justify-content: center;
  margin-left: 2rem;
}
.imgFlor {
  width: 11.4rem;
  justify-content: center;
  margin-left: 2rem;
}
.imgBonnie {
  width: 11.4rem;
  justify-content: center;
  margin-left: 2rem;
}
.caixa2 p {
  font-size: 1.8rem;
}
.caixa2 button {
  width: 13rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: blueviolet;
  transition: 1s;
  cursor: pointer;
}
.estranho {
  background-color: black !important;
  color: red;
}
.caixa2 {
  background-color: rgba(38, 185, 50, 0.4);
  height: 17rem;
  width: 15rem;
  border-radius: 1rem;
  border: 1px solid black;
  transition: 1.5s;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  box-shadow: -0.5rem 0rem 1rem 0rem;
}
.caixa2:hover {
  transition-duration: 1s;
  scale: 1.1;
}
.caixa2 button:hover {
  scale: 1.1;
}
.caixasGeral3 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.caixasGeral3 P {
  display: flex;
  justify-content: center;
}
.imgRayquaza {
  width: 11.4rem;
  justify-content: center;
  margin-left: 2rem;
}
.imgPizza {
  width: 12.1rem;
  justify-content: center;
  margin-left: 2rem;
}
.imgMiau {
  width: 11.4rem;
  justify-content: center;
  margin-left: 2rem;
}
.imgPolvo {
  width: 11.4rem;
  justify-content: center;
  margin-left: 2rem;
}
.imgBalao {
  width: 11.4rem;
  justify-content: center;
  margin-left: 2rem;
}
.caixa3 p {
  font-size: 1.8rem;
}
.caixa3 button {
  width: 13rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: blueviolet;
  transition: 1s;
  cursor: pointer;
}
.caixa3 {
  background-color: rgba(38, 185, 50, 0.4);
  height: 17rem;
  width: 15rem;
  border-radius: 1rem;
  border: 1px solid black;
  transition: 1.5s;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  box-shadow: -0.5rem 0rem 1rem 0rem;
}
.caixa3:hover {
  transition-duration: 1s;
  scale: 1.1;
}
.caixa3 button:hover {
  scale: 1.1;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  background-color: rgba(48, 165, 201, 0.5);
  width: 100%;
  height: 10vh;
  color: rgb(0, 0, 0);
}

@media screen and (min-width:260px) and (max-width:340px) {
  html {
    overflow: scroll;
  }
  header {
    width: 34.2rem;
  }
  main {
    background-color: #97D2E4;
    height: 180rem;
    width: 34.2rem;
  }

  footer {
    width: 34.2rem;
  }
}