/* Pagina inicial da loja */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
html {
  font-size: 62.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}
header {
  /* background-color: rgba(18, 170, 56, 0.7); */
  background-color: rgb(147, 204, 163);
  width: 100vw;
  height: 10vh;
  font-size: 2rem;
  border-bottom: 2px dashed rgb(187, 41, 138);
}
body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.header {
  padding-top: 2rem;
}
.loja {
  text-decoration: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(16, 177, 150);
  width: 6vw;
  height: 2rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.8rem;
  color: rgb(219, 218, 218);
  right: 32rem;
  top: 3%;
  border-radius: 0.8rem;
  height: 2rem;
}
.loja:hover {
  background-color: rgb(19, 223, 189);
  color: black;
}
.sobre {
  text-decoration: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(16, 177, 150);
  width: 6vw;
  height: 2rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.8rem;
  color: rgb(219, 218, 218);
  right: 45rem;
  top: 3%;
  border-radius: 0.8rem;
  height: 2rem;
}
.sobre:hover {
  background-color: rgb(19, 223, 189);
  color: black;
}
.titulo {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 2%;
  font-family: "VT323", monospace;
  color: rgb(187, 41, 138);
  text-shadow: -0.5rem 0rem 0.5rem rgb(0, 0, 0);
}
.titulo:hover {
  animation: tituloCor 10s infinite;
  cursor: pointer;
}
@keyframes tituloCor {
  10% {
    color: rgb(119, 96, 96);
  }
  20% {
    color: rgb(163, 139, 139);
  }
  30% {
    color: #3836c5;
  }
  40% {
    color: #3086c0;
  }
  50% {
    color: rgb(55, 189, 122);
  }
  60% {
    color: blueviolet;
  }
  70% {
    color: crimson;
  }
  80% {
    color: rgb(168, 157, 6);
  }
  90% {
    color: rgb(190, 31, 177);
  }
  100% {
    color: #b60e62;
  }
}
.logo:hover {
  transition-duration: 1s;
  scale: 1.3;
}
.caixaTeste {
  background-color: red;
  height: 100vh;
}

main {
  background-color: rgb(147, 204, 163);
  width: 100vw;
  min-height: 100vh;
}

#fazerLogin {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#fazerLogin .modal-content-login {
  background-color: #3836c5;
  margin: 8% auto;
  border: 1px solid #000000;
  border-radius: 1rem;
  width: 37rem;
  height: 45rem;
  max-width: 600px;
  text-align: center;
  border: 1px solid black;
  font-size: 1.5rem;
  opacity: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 1s;
  animation-name: modalCarrinho;
}
.modal-content-login span:hover {
  color: white;
}
#fazerLogin .fechar {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 35rem;
}

#fazerLogin .fechar:hover,
#fazerLogin .fechar:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.telaLogin {
  font-size: 1.9rem;
  display: flex;
  text-align: center;
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: #5f18d1;
  color: black;
}
.telaLogin::placeholder {
  color: black;
}
.imgLogin {
  width: 11rem;
  transition: 1s;
}
.imgLogin:hover {
  scale: 1.1;
  transform: rotateY(360deg);
}
.cadastro {
  font-size: 1.9rem;
  width: 12rem;
  height: 2rem;
  background-color: #5f18d1;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}
.entrar {
  font-size: 2rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10%; 
  top: calc(3rem + 4vw); 
  top: 3%;
  background-color: rgb(16, 177, 150);
  width: 8vw; 
  height: 2rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.8rem;
  color: rgb(219, 218, 218);
}
.entrar:hover {
  background-color: rgb(19, 223, 189);
  color: black;
}
.botaoEntrar {
  font-size: 1.9rem;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: #5f18d1;
  color: black;
  cursor: pointer;
  padding-top: 0.1rem;
}
.botaoEntrar:hover {
  background-color: #270066;
  color: white;
}
.senhaEsquecida {
  margin-top: 1rem;
  font-size: 1.9rem;
  text-decoration: none;
  color: black;
}
.caixaInicial {
  background-color: rgb(162, 189, 9);
  width: 100vw;
  height: 50vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-bottom: 2px dashed rgb(187, 41, 138);
  flex-direction: column;

}
.caixaInicial h1 {
  color: rgb(187, 41, 138);
  font-size: 3rem;
}
.imgGatoEspaço {
  flex-wrap: wrap;
  width: 20%;
  height: 70%;
  display: flex;
  justify-content: center;
}




footer {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  background-color: rgb(147, 204, 163);
  width: 100%;
  min-height: 10rem; 
  flex-shrink: 0; /* Impede que o footer seja reduzido a ponto de ficar ilegível */
  color: rgb(0, 0, 0);
  border-top: 2px dashed rgb(187, 41, 138);
}

footer p {
  margin-top: 1rem;
  padding-top: 0.2rem; 
  margin-bottom: 0; 
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.imgsFooter{
  display: flex;
  justify-content: flex-end;
  align-items: start;
}
.imgsFooter img{
  width: 3rem;
}